<div class="container mx-auto m-3">
  <div class="row">
    <% @bookings.each do |b| %>
      <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
        <a href="<%= booking_path(b) %>">
          <div class="product-box shadow">
            <div class="product-inner-box position-relative">
              <div class="icons">
                <button class="btn btn-link position-absolute top-0 end-0">
                  <i class="fas fa-heart heart"></i>
                </button>
              </div>
              <%= cl_image_tag b.bike.photo.key, class: "card-img-top", width: 400, height: 300, crop: :lfill, gravity: :center %>
              <div class="product-info">
                  <div class="product-name">
                    <h4 class="card-title"><%= b.bike.brand %></h4>
                  </div>
                  <div class="product-address">
                    City: <span><%= b.bike.address %></span>
                  </div>
                  <div>
                    Size: <span><%= b.bike.size %></span>
                  </div>
                  <div>
                    Color: <span><%= b.bike.color %></span>
                  </div>
                  <div class="product-price">
                    <% b_amount_days = (b.end_date - b.start_date) / 86400 %>
                    $<span><%= b.total_price = b_amount_days * b.bike.price %> for <%= b_amount_days.to_i %> days of rent </span>
                  </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>
