<h2><%= @bike.brand %></h2>
<p><%= @bike.color %></p>
<p><%= @bike.size %></p>
<p><%= @bike.price %></p>

<%= link_to "Delete",
  bike_path(@bike),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
